<div class="guess content">
  <div class="container">
    <section class="song">
      <div class="text">
        <h1>The Gospel of John Hurt</h1>
        <h2>Alt-j</h2>
      </div>
      <div class="play-btn">
        <img src="./play.3adb8a5b.svg" alt="play button">
      </div>
    </section>
   <section class="time">
     <p>0 sec</p>
     <div class="dot"></div>
     <img src="./timer.4a459078.svg" alt="stopwatch icon">
     <div class="bar-under"></div>
     <div class="bar-over"></div>
     <p>30 sec</p>
     <div class="dot"></div>
   </section>
    <section class="show-players">
      <p>Who's song is this ?</p>
      <div class="players">
      </div>
    </section>
    <div class="players-ready">
      <div class="number-container">
        <p>03</p>
        <p>06</p>
      </div>
      <p>Already anwsered</p>
    </div>
  </div>
</div>
