<div class="guess content">
  <div class="container">
    <section class="song">
      <div class="text">
        <div class="song-meta">
        </div>
        <div id="audio">
        </div>
      </div>
      <div class="play-btn">
        <img src="./play.3adb8a5b.svg" alt="play button">
      </div>
    </section>
   <section class="time">
     <p>0 sec</p>
     <div class="dot"></div>
     <img src="./timer.4a459078.svg" alt="stopwatch icon">
     <div class="bar-under"></div>
     <div class="bar-over"></div>
     <p>30 sec</p>
     <div class="dot"></div>
   </section>
    <section class="show-players">
      <p>Who's song is this ?</p>
      <div class="players">
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
        <p class="answer"></p>
      </div>
    </section>
  </div>
</div>
