<div class="introduction content visible">
  <div class="container">
    <h1>What do you want to do?</h1>
    <a id="create-gimma">Create a game</a>
    <a id="join-gimma">Join a game</a>
  </div>
</div>
