<div class="enter-game content join">
  <div class="container">
    <h1>Cool, now I need a little bit of information</h1>
    <fieldset>
      <label for="playerName">
        Tell me your name
        <input type="text" name="playerName">
      </label>
      <label for="groupName">
        Enter your pin ID
        <input type="text" name="groupName">
      </label>
      <button id="join-game">Join game</button>
    </fieldset>
  </div>
</div>
