<div class="scores content">
  <div class="container">
    <h2>The right anwser was</h2>
    <h1>Charlotte</h1>

    <section class="scoreboard">
      <div class="scorecard">
      </div>
    </section>
  </div>
</div>
