<div class="waiting-room content">
  <div class="container">
    <div class="main">
      <h1>That's settled! Your game ID is</h1>
      <h2 id="room-pin"></h2>
      <p>Let all your friends join your game with this game ID. Click start if you're ready!</p>
    </div>
    <section class="show-players">
      <div class="players-ready">
        <div class="number-container">
          <p id="players-ready"></p>
          <p>10</p>
        </div>
        <p>Players ready</p>
      </div>
      <div class="players">
      </div>
    </section>
  </div>
  <a id="ready-to-play">Ready to play!</a>
</div>
