.introduction, .login {
  h1 {
    font-size: 2.5em;
    margin-bottom: 5vh;
    font-weight: 500;
  }

  a, button {
    position: relative;
    font-family: gotham, arial, sans-serif;
    color: $white;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
    background-color: $dark_blue;
    border-radius: 5px;
    margin: 2vh 0;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: url('../img/svg/btn_element.svg') no-repeat;
      background-size: 100%;
      width: 50px;
      height: 32px;
    }
  }
}

.login {
  h1 {
    font-size: 2em;
    margin-bottom: 3vh;
  }

  p {
    margin-bottom: 3vh;
  }

  button {
    text-align: left;
    border: none;
  }
}
