<%- include('./partials/head.ejs') %>
<body class="enter-game">
  <%- include('./partials/logo.ejs') %>
  <main>
    <div class="container">
      <h1>Cool, now I need a little bit of information</h1>
      <form method="POST" action="/create-game">
        <label for="playerName">
          Tell me your name
          <input type="text" name="playerName">
        </label>
       <!--  <label for="groupName">
          What's the name of the group?
          <input type="text" name="groupName">
        </label> -->
        <label>How long does the game need to be?</label>
        <div class="options">
          <div>
            <input type="radio" name="duration" value="5min" class="input">
            <label for="5min">
              5 min
            </label>
          </div>
          <div>
            <input type="radio" name="duration" value="10min" class="input">
            <label for="10min">
              10 min
            </label>
          </div>
          <div>
            <input type="radio" name="duration" value="15min" class="input">
            <label for="15min">
              15 min
            </label>
          </div>
        </div>
        <button type="submit">Create game</button>
      </form>
    </div>
  </main>
</body>
</html>
