<%- include('./partials/head.ejs') %>
<body class="introduction">
  <%- include('./partials/logo.ejs') %>
  <main>
    <div class="container">
      <h1>What do you want to do?</h1>
      <a href="/create">Create a game</a>
      <a href="/join">Join a game</a>
    </div>
  </main>
 <!--  <form action="/login">
    <button type="submit">Login with spotify</button>
  </form> -->
</body>
</html>
