<%- include('./partials/head.ejs') %>
<body class="enter-game join">
  <%- include('./partials/logo.ejs') %>
  <main>
    <div class="container">
      <h1>Cool, now I need a little bit of information</h1>
      <form>
        <label for="player_name">
          Tell me your name
          <input type="text" name="player_name">
        </label>
        <label for="group_name">
          Enter your pin ID
          <input type="text" name="group_name">
        </label>
        <a href="">Join game</a>
      </form>
    </div>
  </main>
</body>
</html>
