<%- include('./partials/head.ejs') %>
<body class="scores">
  <%- include('./partials/logo.ejs') %>
  <div class="container">
    <main>
      <h2>The right anwser was</h2>
      <h1>Charlotte</h1>

      <section class="scoreboard">
        <div class="scorecard">
          <p class="place">01</p>
          <p class="name">Robbert</p>
          <p class="score">3524</p>
        </div>
        <div class="scorecard">
          <p class="place">02</p>
          <p class="name">Charlotte</p>
          <p class="score">3209</p>
        </div>
        <div class="scorecard">
          <p class="place">03</p>
          <p class="name">Ronald</p>
          <p class="score">2999</p>
        </div>
        <div class="scorecard">
          <p class="place">04</p>
          <p class="name">Irene</p>
          <p class="score">2904</p>
        </div>
        <div class="scorecard">
          <p class="place">05</p>
          <p class="name">Mohammed</p>
          <p class="score">2785</p>
        </div>
        <div class="scorecard">
          <p class="place">06</p>
          <p class="name">Coen</p>
          <p class="score">2693</p>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
